<%= form_for(@farm) do |f| %>

  <% if @farm.errors.any? %>
      <%= pluralize(@farm.errors.count, "error") %> prohibited this farm from being saved:
      <% @farm.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, { placeholder: "optional" } %>
  </p>

  <%= f.submit nil %> <%= link_to 'Cancel', farms_path %>

<% end %>
