<div class="panel home_tab farm_index">

  <nav class="farms_nav">
    <a href="#"><span>New Farm</span></a>
  </nav>
  
  <div id="all_farms">

    <section class="farms cards">
      <div class="row">
        <% @farms.each do |farm| %>
          <article class="card">

            <a href="<%= farm_path(farm) %>" class="farm_card">
              <h5><%= farm.name %></h5>
              <p class="description"><%= farm.description %></p>
              <p class="updated_at">
                <time datetime="<%= farm.updated_at %>"><%= farm.updated_at.strftime("Last updated on %b %d") %></time>
              </p>
              <p class="beans">
                <%= pluralize(farm.beans.size, 'Bean') %>
              </p>
              <div class="crops">
                <%= pluralize(farm.crops.size, 'Crop') %>
              </div>
            </a>
          </article>
        <% end %>

        <article class="card">
          <a href="<%= new_farm_path %>" class="farm_card">
            <h5>Start a new farm</h5>
            <p class="farm_description">Click here to start a new farm</p>
          </a>
        </article>

      </div>
    </section>
  </div>

</div>

