<div class="row">

</div>
<br>
<div class="row collection farms">

  <% @farms.each do |farm| %>
    <div class="col-xs-4 col-sm-3">
      <div class="panel panel-default resource farm">
        <a href="<%= farm_path(farm) %>" class="panel-body">
          <h3 class="panel-title"><%= farm.name %></h3>
          <p class="panel-description"><%= farm.description %></p>
          <small><%= farm.updated_at.strftime("Last updated on %b %d") %></small>
          <p><%= pluralize(farm.beans.size, 'Bean') %></p>
        </a>
      </div>
    </div>
  <% end %>

  <div class="col-xs-4 col-sm-3">
    <div class="panel panel-default">
      <a href="<%= new_farm_path %>" class="panel-body" style="text-align:center;">
        <p><span class="glyphicon glyphicon-plus"></span> Create a New Farm</p>
      </a>
    </div>
  </div>

</div>
