<p id="notice"><%= notice %></p>

<p>
  <strong>Farm:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>

<p>
  <strong>Farmer:</strong>
  <%= @farm.user.email %>
</p>

<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'View farms', farms_path %> |
<%= link_to 'Add crop', new_farm_crop_path(@farm) %> |
<%= link_to 'View crops', farm_crops_path(@farm) %>
