%h1
  The #{@farm.name} Farm
- if( @farm.description? )
  %p= @farm.description
%p= @farm.updated_at.strftime("Last updated on %b %d")
%h2
  = @farm.name
  crops:
%ul
  - @farm.crops.each do |crop|
    %li
      %strong= link_to crop.name, farm_crop_path(@farm, crop)
      %br/
      - if( crop.description? )
        = crop.description
        %br/
      = pluralize(crop.beans.size, 'Bean')
      %br/
      = crop.updated_at.strftime("Last updated on %b %d")
    %li
      = link_to 'Plant a New Crop', new_farm_crop_path(@farm)
      %br/
      %br/
    - if( @farm.crops.empty? )
      %li= link_to 'Add your first crop', new_farm_crop_path(@farm)
%p
  = link_to 'New Farm', new_farm_path
  | #{link_to 'Edit Farm', edit_farm_path(@farm)} | #{link_to 'Delete Farm', farm_path(@farm), :method => :delete, :confirm => "Are you sure you want to delete your #{@farm.name} farm?"}
