

<div class="page-header">
	<h1><%= @farm.name %> <small><%= @farm.description %></small></h1>
</div>

<div id="crops" class="panel panel-primary collection">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
    <h2 class="panel-title">Crops</h2>
  </div>
  <div class="panel-body">

    <% @farm.crops.each do |crop| %>
      <div class="col-xs-4 col-sm-3">
        <div class="panel panel-default resource crop">
          <a href="<%= farm_crop_path(@farm, crop) %>" class="panel-body">
            <h3 class="panel-title"><%= crop.name %></h3>
            <p class="panel-description"><%= crop.description %></p>
            <small><%= crop.updated_at.strftime("Last updated on %b %d") %></small>
            <p><%= crop.beans.size %> Beans</p>
          </a>
        </div>
      </div>
    <% end %>

    <div class="col-xs-4 col-sm-3">
      <div class="panel panel-default resource add-new">
        <a href="<%= new_farm_crop_path(@farm) %>" class="panel-body" style="text-align:center;">
          <p><span class="glyphicon glyphicon-plus"></span> Plant a new crop</p>
        </a>
      </div>
    </div>

  </div>
</div>

<p><%= link_to 'Edit Farm', edit_farm_path(@farm), class: 'btn btn-default' %></p>
