<p id="notice"><%= notice %></p>

<p><%= link_to 'View all farms', farms_path %></p>

<h1><%= @farm.name %> Farm <small><%= link_to 'Edit', edit_farm_path(@farm) %></small></h1>
<p><%= @farm.description %></p>

<h2>Crops</h2>

<table>
  <tbody>
    <% @farm.crops.each do |crop| %>
      <tr>
        <td><%= link_to crop.name, [@farm, crop] %></td>
        <td><%= crop.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Add new crop', new_farm_crop_path(@farm) %></p>